body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 1.3rem;
    line-height: 1.8;
    color: #f5f5f5;
    margin: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));

}

h1 {
    text-align: center;
    text-shadow: -1px 0 5px #676767, 1px 05px #676767, 0 1px 5px #676767, 0 -1px 5px #676767;
    margin-bottom: 0;
}

header>p {
    margin-top: 0;
    text-align: center;
    font-style: italic;
}


#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    transition:all 0.2s linear;
}
img:hover{
    border-bottom: 4px solid #0f419e;
}

#img-div {
    padding: 10px;
    margin: 0;
}

#img-caption {
    text-align: center;
    font-style: italic;
}

h3 {
    margin-left:20px;
    color: rgba(200, 54, 104, 0.8);
    
}
section p {
    margin-left: 60px;



}


ul {
    max-width: 100%;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 20px;
}

blockquote {
    color: goldenrod;
    font-style: italic;
    max-width: 545px;
    margin:50px auto;
    text-align: center;
}

cite {
    font-size: 2rem;
    text-shadow: -1px 0 black, 1px 0 black, 0 1px black, 0 -1px black;
}

ul span {
    font-style: italic;
    color: lightblue;
}
h4{
    margin:10px;
}

a {
    color: #477ca7;
}

a:hover {
    color: rgb(105, 74, 199);


}

a:visited {
    color: #74638f;

}
@media (max-width: 560px){
    body{
        font-size:1rem;
    }
    
        section p,h3 {
            margin-left:10px;
    
        }
            li {
                    margin:20px 5px;
                }
    
}